@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
 }

 body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7d2ae8;
 }

 .container{
    display: flex;
    width: 420px;
    padding: 50px 0;
    border-radius: 8px;
    background: #fff;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
 }

.cerculer-progress{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cerculer-progress::before{
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: #fff;
}

.progress-value{
    position: absolute;
    font-size: 40px;
    font-weight: 600;
    color: #7d2ae8;

}

.text{
    font-size: 30px;
    font-weight: 500;
    color: #606060;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background: #7d2ae8;
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid #7d2ae8;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: #a97ce3;
    color: rgba(0, 0, 0, 0.521);
}
